<h1>To Do List</h1>

<% @notes.each do |note| %>
  <%= form_for note do |f|%>
    <%= f.hidden_field :id, class: "rails-id" %>
    <ul class="sortable">
      <li class="ui-state-default">
        <%= note.order %>
        <%=f.check_box :complete, class: "complete_checkboxes" %>
        <%= note.title %>  |
        <%= note.description %>
        <span>Due on: <%= note.due_on.strftime("%a-%b-%d%l:%M%p") %></span>
        <span><%= link_to 'Edit', edit_note_path(note) %></span> |
        <span><%= link_to 'Delete Note', note, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </li>
    </ul>
  <% end %>
<% end %>

<%= link_to 'New Note', new_note_path %>
