<h1>To Do List</h1>

<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>
        Note
      </th>
      <th>
        Details
      </th>
      <th>
        Due On
      </th>
      <th>
        Complete - Edit - Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <%= form_for note do |f|%>
      <tr data-item-id=<%= "#{note.id}" %> class="item">
        <td>
          <%= note.title %>
        </td>
        <td>
          <%= note.description %>
        </td>
        <td>
          <%= note.due_on.strftime("%a-%b-%d%l:%M%p") if note.due_on %>
        </td>
        <td>
          <%= f.hidden_field :id, class: "rails-id" %>
          <%=f.check_box :complete, class: "complete_checkboxes" %>
          <%= link_to 'Delete', note, method: :delete, data: { confirm:
              'Are you sure?' }, :class => 'btn btn-default pull-right' %>
          <%= link_to 'Edit', edit_note_path(note), :class =>
              'btn btn-default pull-right' %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Note', new_note_path %>
