<h1>To Do List</h1>

<% @notes.each do |note| %>
  <%= form_for note do |f|%>
    <%= f.hidden_field :id, class: "rails-id" %>
    <div class="column">

      <div class="portlet">
        <div class="portlet-header"><%=f.check_box :complete, class: "complete_checkboxes" %>
          <%= note.title %></div>
        <div class="portlet-content"><%= note.description %></div>
      </div>

    </div>
  <% end %>
<% end %>

<%= link_to 'New Note', new_note_path %>
